
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
}

video {
  width: 100vw;
  height: 100vh;
  border: 5px solid red !important;
  background: blue !important;
  z-index: 99999 !important;
  display: block;
}
